<p>Total de ingresos del mes: $<%= Payment.compute_income_for_current_month %></p>
<table>
  <tr>
  <th>Nombre</th>
  <th></th>
  </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= link_to "Pagar", new_student_payment_path(student.id) %></td>
</tr>
<% end %>
</table>
