<div class="container">
<div class="row col s12 m2 right card horizontal blue lighten-4">
  <h5 style="margin:20px;">Ingresos del mes: $<%= Payment.compute_income_for_current_month %></h5>
</div>
<h2>Estudiantes sin Pagar</h2>
  <table class="striped">
    <thead>
      <tr>
      <th>Nombre</th>
      <th></th>
      </tr>
    </thead>
  <% @students.each do |student| %>
    <% unless student.paid_current_month %>
    <tr>
      <td><h6><%= link_to student.name, student_payments_path(student.id) %></h6></td>
      <td class="center"><%= link_to "Pagar", new_student_payment_path(student.id), class: "btn waves-effect waves-light orange lighten-3" %></td>
  </tr>
<% end %>
  <% end %>
  </table>
</div>
