<div class="container">
    <h1>Editar Pago</h1>

    <%= render 'form', payment: @payment %>

    <%= link_to 'Ver', student_payments_path(@payment.id) %> |
    <%= link_to 'Regresar', student_payment_path %>
</div>